<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <picture>
            <source media="(max-width: 799px)" srcset="/images/logo-320w.png"> 
            <source media="(min-width: 800px)" srcset="/images/logo.png">
            <img src="/images/logo.png" alt="{{ page.title | default: site.title | default: site.github.repository_name }}" class="project-name" />
      </picture>
      <picture>
        <source media="(max-width: 799px)" srcset="/images/uniofedinburgh-320w.png"> 
        <source media="(min-width: 800px)" srcset="/images/uniofedinburgh.png">
        <img src="/images/uniofedinburgh-320w.png" style="margin:0px 50px" width="200" alt="University of Edinburgh" class="partner1" />
      </picture>
      <picture>
        <source media="(max-width: 799px)" srcset="/images/usher_institute_logo-320w.png"> 
        <source media="(min-width: 800px)" srcset="/images/usher_institute_logo.png">
        <img src="/images/usher_institute_logo-320w.png" width="260" alt="Usher Institute" class="partner3" />
      </picture>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if page.title == 'Team Members' %}
        <a href="/" class="btn">Home</a> 
        <a href="/privacy" class="btn">Privacy Policy</a>
        <a href="/contact" class="btn">Contact Us</a>
        <!-- <a href="https://survey.napier.ac.uk/n/zz6aq.aspx" class="btn">Online Survey</a> -->
        <a href="/dashboard" class="btn">Dashboard</a> 
      {% elsif page.title == 'Privacy Policy' %}
        <a href="/" class="btn">Home</a>
        <a href="/team" class="btn">Team Members</a>
        <a href="/contact" class="btn">Contact Us</a>
        <!-- <a href="https://survey.napier.ac.uk/n/zz6aq.aspx" class="btn">Online Survey</a>  -->
        <a href="/dashboard" class="btn">Dashboard</a>
      {% elsif page.title == 'Contact Us' %}
        <a href="/" class="btn">Home</a>
        <a href="/team" class="btn">Team Members</a>
        <a href="/privacy" class="btn">Privacy Policy</a>
        <!-- <a href="https://survey.napier.ac.uk/n/zz6aq.aspx" class="btn">Online Survey</a>  -->
        <a href="/dashboard" class="btn">Dashboard</a>  
      {% else %}
        <a href="/team" class="btn">Team Members</a>
        <a href="/privacy" class="btn">Privacy Policy</a>
        <a href="/contact" class="btn">Contact Us</a>
        <!-- <a href="https://survey.napier.ac.uk/n/zz6aq.aspx" class="btn">Online Survey</a> -->
        <a href="/dashboard" class="btn">Dashboard</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-owner">Last Updated: 07/10/2020 - All Rights Reserved &copy; 2020 <a href="https://napier.ac.uk">Edinburgh Napier University</a>.</span>
      </footer>
    </main>
  </body>
</html>
